<div class="container mt-5">
    

    <table class="table table-dark table-hover">
        <tr>
            <th>Name</th>
            <th>Order</th>
            <th>Total</th>
            <td>Date time</td>
            
        </tr>
        
            <% 
                orders.map(order=>{%>
                    <tr>
                    <td><%= order.user.name %></td>
                    
                    <td><% order.cart.items.map(x=>{%>
                        <ul>
                            <li><%=x.item.name %> ( <%=x.qty %> )</li>
                        </ul>

                    <%})
                        
                        
                        
                        %></td>
                    <td><%= order.cart.total_price %></td>
                    <td><%= order.created_at %></td>
                    
                </tr>
                <%})
            %>
            
    </table>
</div>